*{
    margin: 0;
    color: #E7DFDD;
}
.Sobre{
    width: 100%;
    height: 92vh;
    background-color: #060608;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sobre > section{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Sobre > section > div:first-child{
    padding-right: 15px;
}
.Sobre > section > div:last-child{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Sobre > section > div:last-child > a{
    padding: 8px;
}
.Sobre > section > div:last-child > a > img{
    width: 35px;
}


@media (max-width: 1000px){
    .Sobre{
        flex-direction: column;
        align-items: center;
    }
    .Sobre > section{
        width: 92%;
        flex-direction: column;
        align-items: center;
    }
    .Sobre > section > div:last-child{
        flex-direction: row;
        justify-content: space-around;
    }
}
